<mat-card>
    <form action="" (submit)="onSubmit(signupForm)" #signupForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="email"
          name="email"
          required
          #email="ngModel"
          ngModel
          placeholder="email"
        />
        <mat-error *ngIf="email.invalid">Enter valid one</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input
          matInput
          type="password"
          name="password"
          required
          #password="ngModel"
          ngModel
          placeholder="password"
        />
        <mat-error *ngIf="password.invalid">Enter valid one</mat-error>
      </mat-form-field>
  
      <button mat-raised-button type="submit">signup</button>
    </form>
  </mat-card>
  