<mat-card>
  <form action="" (submit)="onSubmit(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        #title="ngModel"
        [ngModel]="post.title"
        required
        name="title"
      />

      <mat-error *ngIf="title.invalid">Title Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        name="content"
        id=""
        cols="30"
        rows="10"
        [ngModel]="post.content"
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Content Required</mat-error>
    </mat-form-field>

    <button type="submit" mat-button color="primary">Click</button>
  </form>
</mat-card>
