<mat-card>
    <mat-form-field>
        <input matInput type="text" #title [(ngModel)]="inputTitle">

        <mat-error>Title Required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput name="" id="" cols="30" rows="10" [(ngModel)]="inputContent"></textarea>
        <mat-error>Content Required</mat-error>
    </mat-form-field>

    <button (click)="onSubmit()" mat-button color="primary">Click</button>
</mat-card>

<p> {{ outputTitle }} </p>
<p> {{ outputContent }} </p>
<input type="text" [value]="inputTitle">