<mat-card>
  <form (submit)="onClick(postForm)" #postForm="ngForm">
    <mat-form-field appearance="fill">
      <input
        matInput
        [(ngModel)]="inputTitle"
        name="title"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Title Required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <textarea
        matInput
        name="content"
        id=""
        cols="30"
        [(ngModel)]="inputContent"
        rows="10"
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Content Required</mat-error>
    </mat-form-field>

    <button type="submit" mat-stroked-button color="accent">Click</button>
  </form>
</mat-card>
