/* styles for table layout */
#table-container {
    margin: auto;
}

/* styles for tables */
table {
    margin: auto;
    width: 50%;
    text-align: center;
    white-space: pre-wrap;
    border-collapse: collapse;
}

th {
    text-align: left;
    border-top: 1px dotted green;
    border-bottom: 1px dotted green;
    border-right: 1px dotted green;
}

td {
    text-align: right;
    padding: .2em 0;
    border-top: 1px dotted green;
    border-bottom: 1px dotted green;
}

em {
    float: right;
}