<mat-card>
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field>
      <input type="text" matInput placeholder="title" formControlName="title">
      <mat-error *ngIf="form.get('title')?.invalid">title required</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <textarea matInput placeholder="content" formControlName="content"></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">content required</mat-error>
    </mat-form-field>    
    
    <img [src]="preview" alt="">
    <input type="file" (change)="onImageLoad($event)" style="display: none;" #fileLoader>
    <button class="btn" (click)="fileLoader.click()" type="button">Add Image</button>

    <button mat-button>Add</button>
  </form>
</mat-card>
