@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  width: 100vw;
  min-height: 100vw;
  font-family: 'Poppins';
}

.box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightblue;  
  
}

.box .parts {
  
}

.box div {
  flex-grow: 1;  
  flex-shrink: 1;
}

.box .header {
  background-color: green;
}

.box .main {    
  display: flex;  
  
    
}

.box .main div {
  height: 100%;  
  min-height: 760px;
  
}

.main-box {  
  flex-basis: 70%;
}

.left-box {
  background-color: grey;  
  flex-basis: 15%;
}

.right-box {
  background-color: blue;
  flex-basis: 15%;
}

.footer {
  background-color: green;
}

@media only screen and (max-width: 640px) {
  .main {    
    flex-wrap: wrap;
  }

  .main .main-box {
    flex-basis: 100% !important;
    order: 0;
  }

  .main .left-box {
    flex-basis: 100% !important;
    order: 1;
    min-height: 160px !important;
  }

  .main .right-box {
    flex-basis: 100% !important;
    order: 2;
    min-height: 160px !important;
  }
}

