<mat-card>
    <form #form="ngForm" (submit)="onSubmit(form)">
      <mat-form-field>
        <input
          #email="ngModel"          
          name="email"
          ngModel
          required
          placeholder="email"
          matInput
          type="email"        
        />
        <mat-error *ngIf="email.invalid">Required</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input
          #password="ngModel"
          name="password"
          ngModel
          required
          placeholder="password"
          matInput
          type="password"
        />
        <mat-error *ngIf="password.invalid">Required</mat-error>
      </mat-form-field>

      <button type="submit">Click</button>
    </form>
  </mat-card>
  