<!--
    footer page that has related link(unabled) and copy right
-->
    <footer>
        <div id="link">
            <a href="#">about</a> | <a href="#">information</a> | <a href="#">what we do</a> | <a href="#">contact</a> |
        </div>
        <hr>
        <p>&copy;2021 Jin</p>
    </footer>
</body>
</html>

<!--
    Convert a color image to black and white in Photoshop and share. (n.d.). Retrieved March 26, 2021, from https://helpx.adobe.com/lt/photoshop/using/convert-color-image-black-white.html
-->