@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --bg-black: #000;
  --font-black: #000;
  --bg-white: #fff;
  --font-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  display: flex;  
  flex-direction: column;
}

.nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-black);
  color: var(--font-white);
  padding: 0 200px;
  position: fixed;
  z-index: 3;
}

.nav-item-box {
  display: flex;
}

.nav-item-box li {
  list-style: none;
}

.nav-item-box li a {
  text-decoration: none;
  color: var(--font-white);
}


/* main */
main {

}

.main-box {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('https://source.unsplash.com/random') center center/cover;
  position: relative;
}

.filter-effect {  
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0, .4);  
}

.text-box {  
  color: #fff;  
  z-index: 5;
  text-align: center;
}

.text-box h1 {
  color: #fff;  
}

.article {
  padding: 50px 50px 25px 50px;  
}

.article p {
  line-height: 30px;
}
