@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --back-color: rgb(69, 69, 112);
  --border-color: rgb(27, 27, 49);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--back-color);
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
}

header .search {
  border-radius: 20px;
  margin-right: 10px;
  padding: 5px 5px 5px 10px;  
  border: solid 1px var(--border-color);
  background-color: var(--back-color);
}

header .search::placeholder {
  color: #fff;
}

header .search:focus {
  outline: none;
}

main {
  display: flex;
  justify-content: start;
  align-items: flex-start;  
}

main .card {
  height: 300px;
  width: 200px;
  margin: 10px;
  position: relative;
}

main .card .img {
  height: 250px;
  width: 100%;
  background-color: rebeccapurple;
}

main .card .content {  
  flex-grow: 1;  
  width: 100%;
  background-color: green;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

main .card .detail {
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
}

main .card.show-detail .detail {
  height: auto;
}

