@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    padding: 10px 20px;
    border-radius: 5px;
}

label {
    position: absolute;
    transform: translateY(100%);
}

input {
    margin: 25px 0 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}

.btn {
    width: 100%;
    background-color: powderblue;
    cursor: pointer;
    border: none;
}

small {
    width: 100%;
}