<mat-card>
  <form action="" (submit)="onClick()" [formGroup]="form">
    <mat-form-field>
      <input matInput type="text" formControlName="title" />
      <mat-error *ngIf="form.get('title')?.invalid">Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        name=""
        id=""
        cols="30"
        rows="10"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">Required</mat-error>
    </mat-form-field>

    <!-- image -->
    <img [src]="imgPreview" alt="">
    <input #fileLoad type="file" (change)="onUpload($event)" style="display: none;">
    <button mat-flat-button (click)="fileLoad.click()">Add Image</button>
    <!-- image -->

    <button *ngIf="mode === 'create; else editModeBtn'">Add</button>
    <button #editModeBtn mat-button>Edit</button>
  </form>
</mat-card>
