<mat-accordion *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let i of posts">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ i.title }}
            </mat-panel-title>
            <mat-panel-description>
                Click to open
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p> {{ i.content }} </p>
        <mat-action-row>
            <a routerLink="" mat-button (click)="onEdit()">Edit</a>
            <button mat-button (click)="onDelete(i._id)">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
