<mat-card>
  <form action="" (submit)="onClick()" [formGroup]="form">
    <mat-form-field>
      <input
        matInput
        type="text"
        required
        name="title"
        formControlName="title"
      />

      <mat-error *ngIf="form.get('title')?.invalid">Name Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        formControlName="content"
        matInput
        name="content"
        id=""
        cols="30"
        rows="10"
        required
      ></textarea>

      <mat-error *ngIf="form.get('content')?.invalid"
        >Content Required</mat-error
      >
    </mat-form-field>

    <div>
      <img [src]="imgPreview" [alt]="form.value.title" *ngIf="imgPreview">
      <input #imageAdd (change)="onImageAdd($event)" type="file">
      <button type="button" mat-raised-button (click)="imageAdd.click()">Add Image</button>
    </div>

    <button type="submit" mat-stroked-button>Click</button>
  </form>
</mat-card>

<!-- <form action="" (submit)="onClick(postForm)" #postForm="ngForm">
  <mat-form-field>
    <input
      [ngModel]="post?.title"
      matInput
      type="text"
      #title="ngModel"
      required
      name="title"
    />

    <mat-error *ngIf="title.invalid">Name Required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea
      [ngModel]="post?.content"
      matInput
      name="content"
      id=""
      cols="30"
      rows="10"
      #content="ngModel"
      required
    ></textarea>

    <mat-error *ngIf="content.invalid">Content Required</mat-error>
  </mat-form-field>

  <div>
    <button mat-stroked-button type="button" (click)="fileUpload.click()">File Add</button>
    <input #fileUpload type="file" (change)="onFileAdd($event)">
  </div>

  <button type="submit" mat-stroked-button>Click</button>
</form> -->
