<mat-card>
  <form action="" (submit)="onClick(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        #title="ngModel"
        ngModel
        required
        name="title"
      />
      <mat-error *ngIf="title.invalid">Title Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        required
        name="content"
        id=""
        cols="30"
        rows="10"
        ngModel
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Content Required</mat-error>
    </mat-form-field>
    <button type="submit">Click</button>
  </form>
</mat-card>
