<mat-card>
  <form (submit)="onSubmit()" [formGroup]="form">
    <mat-form-field>
      <input matInput type="text" placeholder="title" formControlName="title" />
      <mat-error *ngIf="form.get('title')?.invalid">title required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="content"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.get('content')?.invalid"
        >content required</mat-error
      >
    </mat-form-field>

    <img [src]="imgPreview" alt="" />
    <input
      (change)="onLoadImage($event)"
      type="file"
      style="display: none"
      #loader
    />
    <button type="button" mat-button (click)="loader.click()">Add Image</button>

    <button mat-button>Add</button>
  </form>
</mat-card>
