<div class="container mt-3">

  <div class="container-sub">

    <!-- login-->
    <div class="container container-sub-sub login-box">
      <h2 class="title">Client Login</h2>
      <hr class="line">

      <!--show errormsg-->
      <div *ngIf="errorshow" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>
        <button type="button" class="btn-close" (click)="closeErrorMsg()" aria-label="Close"></button>
      </div>

      <!-- login-->
      <div class="container container-sub-sub login-box">
        <form [formGroup]="clientLoginForm">
          <div class="form-control mb-3">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email" id="email" placeholder="Client email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password" id="password"
                placeholder="Password">
            </div>

            <hr>

            <div class="btn-box">
              <button class="btn" (click)="clientLogin()">Login</button>
              <button class="btn" routerLink="/client-register">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- end/ login -->
  </div>
</div>