<mat-card>
  <form #form="ngForm" (submit)="onSubmit(form)">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="email"
        name="email"
        #email="ngModel"
        ngModel
        required
      />
      <mat-error *ngIf="email.invalid">email required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="password"
        name="password"
        #password="ngModel"
        ngModel
        required
      />
      <mat-error *ngIf="password.invalid">password required</mat-error>
    </mat-form-field>
    <button mat-button>Signup</button>
  </form>
</mat-card>
