<mat-card>
  <form action="" (submit)="onClick(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        name="title"
        required
        #title="ngModel"
        matInput
        type="text"
        ngModel
      />
      <mat-error *ngIf="title.invalid">Name Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        ngModel
        matInput
        name="content"
        required
        #content="ngModel"
        id=""
        cols="30"
        rows="10"
      ></textarea>
      <mat-error *ngIf="content.invalid">Content Required</mat-error>
    </mat-form-field>

    <button mat-button type="submit">Click</button>
  </form>
</mat-card>
