<mat-card>
  <form action="" (submit)="onClick()" [formGroup]="form">
    <mat-form-field>
      <input
        name="title"
        matInput
        type="text"
        formControlName="title"
        
      />
      <mat-error *ngIf="form.get('title')?.invalid">Name Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        name="content"
        id=""
        cols="30"
        rows="10"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">Content Required</mat-error>
    </mat-form-field>

    <div>
        <img height="100px" [src]="imgPreview" [alt]="" *ngIf="imgPreview">
        <input #addImage type="file" (change)="onAddImage($event)">
        <button (click)="addImage.click()" type="button" mat-flat-button color="primary">Add Image</button>
    </div>
    <button mat-button type="submit">Click</button>
  </form>
</mat-card>
