<mat-accordion *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let i of posts">
        <mat-expansion-panel-header>
            {{ i.title }}
        </mat-expansion-panel-header>

        <p>
            {{ i.content }}
        </p>

        <mat-action-row>
            <button mat-stroked-button color="primary">Edit</button>
            <button mat-stroked-button color="warning" (click)="onDelete(i._id)">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<p *ngIf="posts.length <= 0">No Post Yet</p>


