<mat-toolbar color="primary">
    <a routerLink="/">Header</a>
    <ul>
        <li *ngIf="isAuthenticated">
            <a routerLink="/create">Add post</a>
        </li>
        <li *ngIf="!isAuthenticated">
            <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isAuthenticated">
            <a routerLink="/signup">Signup</a>
        </li>
        <li *ngIf="isAuthenticated">
            <button (click)="onLogout()" mat-button routerLink="">Logout</button>
        </li>
    </ul>
</mat-toolbar>
