<mat-card>
  <form action="" (submit)="onClick(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        #title="ngModel"
        name="title"
        ngModel
        required=""
      />
      <mat-error *ngIf="title.invalid">Name Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        name="content"
        #content="ngModel"
        required
        id=""
        cols="30"
        rows="10"
        ngModel
      ></textarea>
      <mat-error *ngIf="content.invalid">Content Required</mat-error>
    </mat-form-field>

    <button type="submit" color="accent" mat-raised-button>Click</button>
  </form>
</mat-card>