* {
    padding: 0%;
    margin: 0%;
}

body {
    margin: 2em auto;
    text-align: center;
}

.title {
    text-transform: uppercase;
}

.container {
    text-align: left;
    margin-bottom: 1em;
    width: 50%;
    padding: 1em 2em;
}

#data-container {
    width: 80%;
}

label {
    text-transform: capitalize;
}

footer {
    margin-top: 1em;
}

#error-message {
    margin: 1em 0;
    color: red;
    font-weight: bold;
    text-transform: capitalize;
}