@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Lato&family=Muli&family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', sans-serifs;
    height: 100vh;
    overflow: hidden;
}

.btn-start {
    font-size: 2rem;
}

.pages {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s cubic-bezier(0.35,0.16,0.68,1.57);
}

.page-one {
    
}

/* second page */
.page-two {
    position: absolute;
    padding: 15px;
    transform: translate(100%, -100%);
    display: flex;
    flex-direction: column;
}

.page-two .img {
    background-image: url('https://unsplash.com/photos/7Z03R1wOdmI');
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.page-two .container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.page-two .title {
    margin-bottom: 20px;
}

.page-two .players {
    margin-left: auto;
}

.page-two .players input {
    width: 110px;
    padding: 0 15px;
    text-align: right;
}

.page-two .container .players input:focus {
    outline: none;
}

.page-two .container .row {
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin: 20px 0;
}

.page-two .container .row .character-box {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;    
}

.page-two .container .row .character-box .img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.page-two .container .row .character-box input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    font-family: 'Lato';
}

/* third page */
.page-three {
    position: absolute;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
}

.page-three .display-box {
    width: 70vw;
    height: 200px;
    margin-bottom: 20px;
}


/* effect */
.img.pick {

}

.img::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: red;
    z-index: 2;
}

.character-box.chosen {
    background-color: aliceblue;
}

.character-box::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: red;
}

/* shared */








