<mat-accordion *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let i of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ i.title }}
      </mat-panel-title>

      <mat-panel-description> Click to open </mat-panel-description>
    </mat-expansion-panel-header>

    <p>
      {{ i.content }}
    </p>

    <!-- image -->
    <img height="100px" [src]="i.imagePath" alt="">
    <!-- image -->

    <a [routerLink]="['create', i._id]">Edit</a>
    <button (click)="onDelete(i._id)">Delete</button>
  </mat-expansion-panel>
</mat-accordion>

<!-- paginator -->
<mat-paginator (page)="onPageChange($event)" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOption" [length]="totalPage"></mat-paginator>
<!-- paginator -->



