<!--
    FAQ page with a table
-->
<%- include('header') %> 

<h1>FAQ</h1>
    <table class="container" id="table">
        <tr>
            <th><a href="#">Ldolor</a></th>
            <td>lorem loremloremsit amet consectetur adipisicing elit. Dolorum, natus?</td>
        </tr>
        <tr>
            <th><a href="#">Ldolor</a></th>
            <td>lorem loremloremsit amet consectetur adipisicing elit. Dolorum, natus?</td>
        </tr>
        <tr>
            <th><a href="#">Ldolor</a></th>
            <td>lorem loremloremsit amet consectetur adipisicing elit. Dolorum, natus?</td>
        </tr>
        <tr>
            <th><a href="#">Ldolor</a></th>
            <td>lorem loremloremsit amet consectetur adipisicing elit. Dolorum, natus?</td>
        </tr>
        <tr>
            <th><a href="#">Ldolor</a></th>
            <td>lorem loremloremsit amet consectetur adipisicing elit. Dolorum, natus?</td>
        </tr>
        <tr>
            <th><a href="#">Ldolor</a></th>
            <td>lorem loremloremsit amet consectetur adipisicing elit. Dolorum, natus?</td>
        </tr>
    </table>

<%- include('footer') %> 