<!--
    inclass_6 written by Kwangjin Baek / #8707943 / 2021.3.27.
    this is a webpage consist of two pages (index, faq) that 
    that navigation link to each other
--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inclass_6_title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/faq">FAQ</a></li>
    </ul>
