<!--
    index page with an article and picture
-->
<%- include('header') -%> 
<h1>index</h1>
<article class="container" id="index-article">
    <h2>school</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, earum iusto, at aut natus quidem laudantium sequi commodi accusantium facilis, corporis magnam quaerat reprehenderit sunt quis autem excepturi! Officia, adipisci.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio ea at recusandae laudantium deleniti, ullam nisi enim, voluptatum animi aperiam velit minima eos. Delectus omnis quibusdam odio tempora asperiores!</p>

    <img src="/images/Landscape-Color.jpg" alt="autumn">
</article>
<%- include('footer') -%> 