@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  background: url("https://source.unsplash.com/WLUHO9A_xik/1600x900") center
    center/cover no-repeat;
  font-family: "Poppins";
}

header {
  margin-bottom: 100px;
}

nav {
  padding: 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-menu {
  margin: 0;
  padding: auto;
  flex-basis: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dummy {
  width: 100px;
}

li {
  list-style: none;
}

main {
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.main-card {
  background-color: lightblue;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  font-size: 2rem;
}

.new:hover::before {
  content: "New";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search:hover::before {
  content: "Search";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new {
  background: url("essets/images/1.jpg") center center/cover no-repeat;
}

.search {
  background: url("essets/images/car_header-bg.jpg") center center/cover
    no-repeat;
}

footer {
  min-height: 200px;
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc;
}

a {
  text-decoration: none;
  color: #222;
}

.btn {
  margin-top: 30px;
  width: 100%;
}

form {
  max-width: 450px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
}

label {
  font-weight: bold;
}

.error-message {
  color: #f00;
  display: none;
  width: 100%;
  background-color: rgba(240, 240, 16, 0.6);
  border-radius: 2px;
  text-align: center;
  margin-bottom: 15px;
  transition: 0.4s ease;
  transform: scale(0);
}

.error-message.show {
  display: block;
  transform: scale(1);
}

input.showError {
  border: 1px solid #f00;
}

/* summary page */
.table-box {
  max-height: 400px;
  padding: 30px;
  background-color: rgba(102, 51, 153, 0.2);
  overflow: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary-title {
  text-align: center;
  margin-bottom: 20px;
}

.table {
  width: 90%;
  margin: auto;
  border: 1px solid #222;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

th,
td {
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.table tbody tr {
  background-color: rgba(255, 255, 255, 0.3);
  color: #333;
}

.btn-box {
  gap: 20px;
}

/* list */
.summary-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 600px;
  padding: 30px 0;
  overflow: auto;
  border-radius: 5px;
  background-color: rgba(34, 34, 34, 0.2);
  gap: 10px;
}

.summary-card {
  height: 260px;
  width: 600px;
  margin: auto;
  border: 1px solid #222;
  padding: 20px;
  border-radius: 10px;
}

.car-link {
  margin-top: 15px;
  text-align: center;
}
