<mat-card>
  <form action="" (submit)="onSubmit(form)" #form="ngForm">
    <mat-form-field>
      <input matInput name="email" type="email" required #email="ngModel" ngModel />
      <mat-error *ngIf="email.invalid">Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="password" type="password" required #password="ngModel" ngModel />
      <mat-error *ngIf="password.invalid">Required</mat-error>
    </mat-form-field>
    <button mat-button>Login</button>
  </form>
</mat-card>