<mat-accordion *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let i of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ i.title }}
      </mat-panel-title>
      <mat-panel-description> Open </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ i.content }}</p>    
    
    <mat-card>
      <img [src]="i.imagePath" alt="" height="100px">
    </mat-card>

    <mat-action-row>
      <a [routerLink]="['/edit', i._id]" mat-button>Edit</a>
      <button mat-button (click)="onDelete(i._id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [pageSize]="pageSize" [pageSizeOptions] ="pageSizeOptions" [length]="length" (page)="onPageChange($event)" ></mat-paginator>
