<!-- using two way binding -->
<!-- <mat-card>
  <mat-form-field>
    <input matInput type="text" [(ngModel)] = 'title' placeholder="Title">
  </mat-form-field>
  
  <mat-form-field>
    <textarea
      matInput
      name=""
      id=""
      cols="30"
      rows="10"
      #inputVal
      [(ngModel)]="content"
    ></textarea>

    <p>{{ inputVal.value }}</p>

    <button mat-raised-button color="accent" (click)="onClick()">
      Click
    </button>
  </mat-form-field>
</mat-card> -->

<!-- using form -->

<!-- <mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
    action=""
    (submit)="onSubmit(postForm)"
    #postForm="ngForm"
    *ngIf="!isLoading"
  >
    <mat-form-field> -->
      <!-- <input
        matInput
        type="text"
        ngModel
        placeholder="Title"
        name="title"
        placeholder="title"
        required
        #title="ngModel"
      /> -->
      <!-- <input
        matInput
        type="text"
        [ngModel]="post?.title"
        placeholder="Title"
        name="title"
        placeholder="title"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Title Required</mat-error>
    </mat-form-field>

    <mat-form-field> -->
      <!-- <textarea
        matInput
        name="content"
        placeholder="content"
        id=""
        cols="30"
        rows="10"
        #inputVal="ngModel"
        ngModel
        required        
      ></textarea> -->
      <!-- <textarea
        matInput
        name="content"
        placeholder="content"
        id=""
        cols="30"
        rows="10"
        #inputVal="ngModel"
        [ngModel]="post?.content"
        required
      ></textarea>
      <mat-error *ngIf="inputVal.invalid">Content Required</mat-error>
      <p>{{ inputVal.value }}</p> -->

      <!-- <button mat-raised-button color="accent" (click)="onClick()">
        Click
      </button> -->

      <!-- image load -->
      <!-- <div>
        <input type="file" #filePicker>
        <button type="button" mat-stroked-button (click)="filePicker.click">Pick Image</button>
      </div> -->
      <!-- /image load -->

      <!-- <button mat-raised-button color="accent" type="submit">Click</button>
    </mat-form-field>
  </form>
</mat-card> -->

<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
    [formGroup]="rForm"
    action=""
    (submit)="onSubmitReactive()"
    *ngIf="!isLoading"
  >
    <mat-form-field>
      <input
        formControlName="title"
        matInput
        type="text"
        placeholder="Title"        
        placeholder="title"
      />
      <mat-error *ngIf="title?.invalid">Title Required</mat-error>
      <mat-error *ngIf="rForm.get('title')?.invalid">Title Required</mat-error>
    </mat-form-field>

    <mat-form-field>      
      <textarea
      [formControlName]="'content'"
        matInput        
        placeholder="content"
        id=""
        cols="30"
        rows="10"
      ></textarea>
      <mat-error *ngIf="content?.invalid">Content Required</mat-error>      

      <!-- image load -->
      <div>
        <input type="file" #filePicker (change)="onImagePick($event)">
        <button type="button" mat-stroked-button (click)="filePicker.click()">Pick Image</button>
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" [alt]="rForm.value.title">
      </div>
      <!-- /image load -->

      <button mat-raised-button color="accent" type="submit">Click</button>
    </mat-form-field>
  </form>
</mat-card>
